<table class="table">
    <thead>
        <tr>
        <th scope="col text-center">ID</th>
        <th scope="col">Nombre</th>
        <th scope=" d-flex justify-content-end text-center">Acciones</th>
        </tr>
    </thead>
    <tbody  *ngFor="let student of students">
        <tr>
        <th scope="row">{{student.id}}</th>
        <td scope="row">{{student.name + ' ' + student.lastName}} </td>
        <td class="text-end gap-2 d-flex justify-content-center">
            <button class="bg-primary bg-gradient  btn btn-primary" routerLink="/students/student/{{student.id}}"><i class="text-black fa fa-eye" aria-hidden="true"></i></button>
            <button class="bg-danger bg-gradient  btn btn-danger" (click)="deleteStudent(student.id)"><i class="text-black fa fa-trash-o"></i></button>
            <button class="bg-warning bg-gradient  btn btn-warning" routerLink="/students/edit/{{student.id}}"><i class="text-black fa fa-pencil-square-o"></i></button>
        </td>
        </tr>
    </tbody>
</table>