
  <div class="w-100 d-flex justify-content-center flex-column align-items-center">
    Este es un encabezado para un componente 
    <app-hijo></app-hijo>
  </div>
  <button (click)="cambiarTitulo()">Cambiar Titulo</button>
<!--   <app-hijo [elementos]="['dato1,dato2']" [titulo]="'Datos'"  (clickDato)="funcionClick($event)")></app-hijo> -->

<!--   <app-hijo [elementos]="['Lista1, Lista2']"  [titulo]="'Datos'"  ></app-hijo>
  <app-hijo 
    #hijo
    [elementos]="['Pera,Manzanas']" 
    [titulo]="'Frutas'" 
    (clickDato)="funcionClick($event)"
  ></app-hijo>
 -->