<div class="container h-100"> 
    <div class="row">
        <div class="col">
            <h2 class="text-left my-4">
                Editar Estudiante
            </h2>
        </div>
        <div class="col aling-item-center text-end  my-4" >
            <button type="button" routerLink="/students" class="btn btn-secondary">
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pt-4 rounded-2">
            <form (ngSubmit)="onSubmit($event)" class="form-horizontal  fixed-width " [formGroup]="formEditStudent">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input id="name"  type="text"  type="text"formControlName="name" class="form-control fs-6" id="name">
                </div>
                <div [ngClass]="{'d-none': formEditStudent.get('name')?.valid ||  formEditStudent.get('name')?.pristine}"
                class=" text-danger">
                     Nombre es requerido
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Apellido</label>
                    <input id="lastName" formControlName="lastName" type="text" class="form-control fs-6" id="lastName">
                </div>
                <div [ngClass]="{'d-none': formEditStudent.get('lastName')?.valid ||  formEditStudent.get('lastName')?.pristine }"
                class=" text-danger">
                     Apellido es requerido
                </div>
                <div class="mb-3">
                    <label for="calification" class="form-label">Calificación</label>
                    <input id="calification"  formControlName="calification" type="text" class="form-control fs-6" id="calification">
                </div>
                <div [ngClass]="{'d-none': formEditStudent.get('calification')?.valid ||  formEditStudent.get('calification')?.pristine } "
                class=" text-danger">
                     Calificacion requerida
                </div>
                <div class="mb-3">
                    <label for="courseId" class="form-label">Cursos</label>
                    <select formControlName="courseId"  class="form-control" class="form-select form-select-lg mb-3 fs-6 form-control" *ngIf="courses.length > 0" >
                        <option selected disabled>Selecione el curso</option>
                        <option value="{{course.id}}" id="course.id" *ngFor="let course of courses">{{course.name}}</option>
                    </select>
                  </div>
                    <div [ngClass]="{'d-none': formEditStudent.get('courseId')?.valid || formEditStudent.get('courseId')?.pristine } "
                    class=" text-danger">
                       Curso es requerido
                    </div>
                    <div class="text-danger alert alert-danger my-2 alert-dismissible" role="alert" *ngIf="this.errorMessage && !this.updated" >
                        {{this.errorMessage}}
                    </div>
                    <div class="text-sucess alert alert-success my-2 alert-dismissible dismiss" role="alert" *ngIf="this.updated " >
                        Actualizado con exito!
                    </div>
                    <div class="modal-footer py-2 px-0">
                        <button type="submit" class="btn btn-primary" >Editar</button>
                    </div>
            </form>
        </div>
    </div>
</div>
