<div class="container h-100"> 
    <div class="row">
        <div class="col">
            <h2 class="text-left my-4">
                Crear Alumno
            </h2>
        </div>
        <div class="col aling-item-center text-end  my-4">
            <button type="button" routerLink="/alumnos" class="btn btn-secondary">
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border p-4 rounded-2">
            <h3 class="text-left my-2">Ingresar Alumno</h3>
            <form class="form-horizontal  fixed-width ">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input type="text" class="form-control fs-6" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Apellido</label>
                    <input type="text" class="form-control fs-6" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="cursos" class="form-label">Cursos</label>
                    <select id="cursos" class="form-select form-select-lg mb-3 fs-6 form-control" >
                        <option selected>Selecione el curso</option>
                        <option value="1">Matematica</option>
                        <option value="2">Algebra</option>
                        <option value="3">Ingles</option>
                      </select>
                  </div>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </div>
        
    </div>

    
      
  


</div>